<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovejoy777.boatlog" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <permission
        android:name="com.lovejoy777.boatlog.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.Toolbar" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Splash"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label=""
            android:theme="@style/Toolbar2"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".MainActivityTrips"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINTRIPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityEntries"
            android:label=""
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINENTRIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityManLog"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINMANLOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityWaypoint"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINWAYPOINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityNavAids"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINNAVAIDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityLog"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINLOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".CreateEntriesActivity"
            android:label="Create"
            android:parentActivityName=".MainActivityEntries" >
        </activity>

        <activity
            android:name=".EditEntriesActivity"
            android:label="Edit"
            android:parentActivityName=".MainActivityEntries" >
        </activity>

        <activity
            android:name=".CreateTripsActivity"
            android:label="Create"
            android:parentActivityName=".MainActivityTrips" >
        </activity>

        <activity
            android:name=".EditTripsActivity"
            android:label="Edit"
            android:parentActivityName=".MainActivityTrips" >
        </activity>

        <activity
            android:name=".CreateWaypointActivity"
            android:label="Create"
            android:parentActivityName=".MainActivityWaypoint" >
        </activity>

        <activity
            android:name=".EditWaypointActivity"
            android:label="Edit"
            android:parentActivityName=".MainActivityWaypoint" ></activity>

        <activity
            android:name=".CreateManLogActivity"
            android:label="Create"
            android:parentActivityName=".MainActivityManLog"></activity>

        <activity
            android:name=".EditManLogActivity"
            android:label="Edit"
            android:parentActivityName=".MainActivityManLog">
        </activity>

        <activity
            android:name=".GoToWaypoint"
            android:label="Edit/Add"
            android:parentActivityName=".MainActivityWaypoint" >
        </activity>

    </application>

</manifest>
