<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovejoy777.boatlog" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <permission
        android:name="com.lovejoy777.boatlog.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Toolbar" >

        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="${driveApiKeyValue}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${mapApiKeyValue}" />
        <!-- android:value="@string/google_maps_key" /> -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label=""
            android:theme="@style/Toolbar2"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Tutorial"
            android:label=""
            android:theme="@style/Toolbar2">
            <intent-filter>
                <action android:name="android.intent.action.TUTORIAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityTrips"
            android:label=""
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINTRIPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityEntries"
            android:label=""
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivityTrips">
            <intent-filter>
                <action android:name="android.intent.action.MAINENTRIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityManLog"
            android:label=""
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINMANLOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityWaypoint"
            android:label=""
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINWAYPOINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityLog"
            android:label=""
            android:theme="@style/Base.Theme.Toolbar.TransparentStatusBar"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAINLOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CreateEntriesActivity"
            android:label=""
            android:parentActivityName=".MainActivityEntries" >
        </activity>

        <activity
            android:name=".EditEntriesActivity"
            android:label=""
            android:parentActivityName=".MainActivityEntries" >
        </activity>

        <activity
            android:name=".CreateTripsActivity"
            android:label=""
            android:parentActivityName=".MainActivityTrips" >
        </activity>

        <activity
            android:name=".EditTripsActivity"
            android:label=""
            android:parentActivityName=".MainActivityTrips" >
        </activity>

        <activity
            android:name=".CreateWaypointActivity"
            android:label=""
            android:parentActivityName=".MainActivityWaypoint" >
        </activity>

        <activity
            android:name=".EditWaypointActivity"
            android:label=""
            android:parentActivityName=".MainActivityWaypoint">

        </activity>

        <activity
            android:name=".CreateManLogActivity"
            android:label=""
            android:parentActivityName=".MainActivityManLog">

        </activity>

        <activity
            android:name=".EditManLogActivity"
            android:label=""
            android:parentActivityName=".MainActivityManLog">
        </activity>

        <activity
            android:name=".GoToWaypoint"
            android:label=""
            android:parentActivityName=".MainActivityWaypoint" >
        </activity>

        <activity
            android:name=".BackupActivity"
            android:label=""
            android:parentActivityName=".MainActivity" >
        </activity>

        <activity
            android:name=".activities.WeatherMainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".activities.SettingActivity"
            android:theme="@style/AppTheme" />

        <receiver android:name=".widgets.ExtensiveWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/extensive_widget" />
        </receiver>
        <receiver android:name=".widgets.TimeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget" />
        </receiver>
        <receiver android:name=".widgets.SimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget" />
        </receiver>

        <service
            android:name=".widgets.DashClockWeatherExtension"
            android:icon="@drawable/ic_cloud_white_24dp"
            android:label="@string/app_name"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="settingActivity"
                android:value=".ExampleSettingActivity" />
        </service>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.MapActivity"
            android:parentActivityName=".activities.WeatherMainActivity"
            android:theme="@style/AppTheme.NoStatusBar" />

        <activity
            android:name=".activities.GraphActivity"
            android:label=""
            android:parentActivityName=".activities.WeatherMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
